<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Main page</title>
    <link href="styles/style.css" th:href="@{styles/style.css}" rel="stylesheet" type="text/css"/>

    <!-- Подключение карт -->
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script type="text/javascript">
      var map;
      DG.then(function () {
          map = DG.map('map', {
              center: [55.98, 37.89],
              zoom: 13
          });
      });
    </script>
</head>
<body>
<!-- <h1>Клуб нумизматов</h1> -->
<h3></h3>
<!-- Основной контейнер, включающий остальные DIV-->
  <div id="container">

      <div class="header">
        <div class="block_logo"> <a href="/"> <img src="images/logo.jpg" width="477" height="153" border="0"> </a> </div>
        <div class="block_holder1">
          <div class="profile"> <a href="/user-lk"> <img src="images/profile1.png" width="33" height="33" border="0"> <div class="auth_user"> [[${userInit}]] </div> </a> </div>
          <div class="cart"> <a href="/"> <img th:if="${coinsInCart == 0}" src="images/shopping_cart.png" width="53" height="53" border="0">
                                              <img th:if="${coinsInCart > 0}" src="images/shopping_cart1.png" width="53" height="53" border="0"> </a> </div>
        </div>
      </div>
      <div class="line1"></div>
      <div id="content_container">

        <div id="map" style="display: inline-block; vertical-align: top; margin-left: 30px; margin-top: 30px; width: 600px;	height: 400px;"> </div>

        <div class="logistic_calc" style="height: 350px;" id="calcDiv">
          <h1>Рассчитать стоимость доставки</h1>
          <br>
          <form id="form">

            <!--<h2>Пункт отправления</h2>-->
            <label for="startPoint">Пункт отправления:</label>
            <input type="text" placeholder="Пункт отправления" id="startPoint" th:value="${task.startPoint}"></input>
            <br>
            <br>
            <!--<h2>Пункт назначения</h2>-->
            <label for="destination">Пункт назначения:</label>
            <input type="text" placeholder="Пункт отправления" id="destination" th:value="${task.destination}"></input>
            <br>
            <br>
            <input type="text" placeholder="Тип груза" id="cargoName" th:value="${task.cargoName}"> Тип груза</input>
            <br>
            <br>
            <div class="dimensions">
              <input type="text" placeholder="Длина" id="length" th:value="${task.length}"> Д </input>
              <input type="text" placeholder="Ширина" id="width" th:value="${task.width}"> Ш </input>
              <input type="text" placeholder="Высота" id="height" th:value="${task.height}"> В </input>
            </div>
            Размеры, м
            <br>
            <input type="text" placeholder="Вес груза" id="weight" th:value="${task.weight}" text="177"> Вес груза, кг.</input>
            <br>
            <br>
          </form>
          <button id="calcButton">Рассчитать</button>
          <!-- <div th:if="${errorMessage}">
            Упс... Неверные параметры запроса :( </div> -->

          <div class="hide" id="orderOk"> <div id="orderOk_text"></div>
            <br>
            <div class="cart_text"> <a href="/"> Произвести новый расчет </a> </div>
          </div>
          <div id="results" class="show">

              <div class="hide" id="loading" style="margin-top: 15px"> <img src="images/loading1.gif" width="87" height="23" border="0"> </div>

              <div class="hide" id="vozovoz" style="margin-top: 12px; margin-bottom: 17px;">
                <img src="images/vozovoz.jpg" width="87" height="23" border="0"> <br>
                <div class="normalText" id="result1" style="position: relative; top: 5px; bottom: 5px;"></div><button id="orderButton1" style="float: right;">Оформить заказ</button>
              </div>
              <div class="hide" id="delline" style="margin-top: 12px; margin-bottom: 17px;">
                <img src="images/delline.jpg" width="87" height="23" border="0"> <br>
                <div class="normalText" id="result2" style="position: relative; top: 5px; bottom: 5px;"></div><button id="orderButton2" style="float: right;">Оформить заказ</button>
              </div>
              <div class="hide" id="nordw" style="margin-top: 12px; margin-bottom: 17px;">
                <img src="images/nordw.JPG" width="87" height="23" border="0"> <br>
                <div class="normalText" id="result3" style="position: relative; top: 5px; bottom: 5px;"></div><button id="orderButton3" style="float: right;">Оформить заказ</button>
              </div>
          </div>

        </div>
      </div>
      <div id="footer">
        <div class="rights_text_holder">
          <p class="shrimping_height"> 2025 &#169; Все права защищены.</p>
          <p class="shrimping_height">
            <span id="trade_mark"><a href="site_mainpage.htm">
            OOO &#171;Logistics Pro&#187;</a></span>.</p>
          <p class="shrimping_height">Полное или частичное использование материалов данного сайта возможно только с письменного разрешения администрации сайта.</p>
        </div>
      </div>
  </div>
  <!-- Блок JavaScript лучше всего подключать здесь - в конце <body>, т.к. иначе не считываются элементы DOM-->
  <!-- В шаблонизаторе Thymeleaf джава скрипт подключается особым образом. См. ниже  -->
  <script th:src="@{js/script_request.js}"></script>
  <script th:src="@{js/script_order.js}"></script>
</body>
</html>
