<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Main page</title>
    <link href="styles/style.css" th:href="@{styles/style.css}" rel="stylesheet" type="text/css"/>

    <!-- Подключение карт -->
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script type="text/javascript">
      var map;
      DG.then(function () {
          map = DG.map('map', {
              center: [55.98, 37.89],
              zoom: 13
          });
      });
    </script>
</head>
<body>
<!-- <h1>Клуб нумизматов</h1> -->
<h3></h3>
<!-- Основной контейнер, включающий остальные DIV-->
  <div id="container">

      <div class="header">
        <div class="block_logo"> <a href="/"> <img src="images/logo.jpg" width="477" height="153" border="0"> </a> </div>
        <div class="block_holder1">
          <div class="profile"> <a href="/user-lk"> <img src="images/profile1.png" width="33" height="33" border="0"> <div class="auth_user"> [[${userInit}]] </div> </a> </div>
          <div class="cart"> <a href="/"> <img th:if="${coinsInCart == 0}" src="images/shopping_cart.png" width="53" height="53" border="0">
                                              <img th:if="${coinsInCart > 0}" src="images/shopping_cart1.png" width="53" height="53" border="0"> </a> </div>
        </div>
      </div>
      <div class="line1"></div>
      <div id="content_container">

        <div id="map" style="display: inline-block; vertical-align: top; margin-left: 30px; margin-top: 30px; width: 600px;	height: 400px;"> </div>

        <div class="logictic_calc">
          <h1>Рассчитать стоимость доставки</h1>
          <br>
          <form th:action="@{/calc}" method="post" th:object="${task}" id="form">

            <!--<h2>Пункт отправления</h2>-->
            <label for="cityList">Пункт отправления:</label>
            <select id="cityList" th:field="*{startPoint}">
              <option th:each="c : ${cities}" th:value="${c}" th:text="${c.name}"></option>
            </select>
            <br>
            <br>
            <!--<h2>Пункт назначения</h2>-->
            <label for="cityList">Пункт назначения:</label>
            <select id="cityList" th:field="*{destination}">
              <option th:each="c : ${cities}" th:value="${c}" th:text="${c.name}"></option>
            </select>
              <br>
              <br>
              <input type="text" th:field="*{cargoName}" placeholder="Тип груза"> Тип груза</input>
              <br>
              <br>
              <div class="dimensions">
                <input type="text" th:field="*{length}" placeholder="Длина" value="0.1" id="qty_input1"> Д </input>
                <input type="text" th:field="*{width}" placeholder="Ширина" value="0.2" id="qty_input1"> Ш </input>
                <input type="text" th:field="*{heigth}" placeholder="Высота" value="0.3" id="qty_input1"> В </input>
              </div>
              Размеры, м
              <br>
              <input type="text" th:field="*{weight}" placeholder="Вес груза"> Вес груза, кг.</input>
              <br>
              <br>
              <button type="submit">Рассчитать</button>
          </form>
          <div th:if="${errorMessage}">
            Упс... Неверные параметры запроса :( </div>

          <div class="hide" id="loading" style="margin-top: 15px"> <img src="images/loading1.gif" width="87" height="23" border="0"> </div>

          <div class="show" id="result1" style="margin-top: 12px" th:if="${price}">
            <img src="images/vozovoz.jpg" width="87" height="23" border="0"> <div style="position: relative; bottom: 5px; display: inline-block"> [[${price}]] руб. </div>
            <div th:if="${errorDelline}">
              Ошибка запроса к сервису "Возовоз" </div>
          </div>
          <div class="show" id="result2" style="margin-top: 12px" th:if="${price2}">
            <img src="images/delline.jpg" width="87" height="23" border="0"> <div style="position: relative; bottom: 5px; display: inline-block"> [[${price2}]] руб. </div>
            <div th:if="${errorDelline}">
              Ошибка запроса к сервису "Деловые линии" </div>
            <div th:if="${incorrectDimensionDelline}">
              "Деловые линии": некорректные размеры груза </div>
          </div>
        </div>
      </div>

  </div>
  <!-- Блок JavaScript лучше всего подключать здесь - в конце <body>, т.к. иначе не считываются элементы DOM-->
  <!-- В шаблонизаторе Thymeleaf джава скрипт подключается особым образом. См. ниже  -->
  <script th:src="@{js/script_animation.js}"></script>
</body>
</html>
