<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Main page</title>
    <link href="styles/style.css" th:href="@{styles/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- <h1></h1> -->
<!-- Основной контейнер, включающий остальные DIV-->
<div id="container">

  <div class="header">
    <div class="block_logo"> <a href="/"> <img src="images/logo.jpg" width="477" height="153" border="0"> </a> </div>
    <div class="block_holder1">
          <div class="profile"> <img src="images/profile1.png" width="33" height="33" border="0"> <div class="auth_user"> [[${userInit}]] </div> </div>
      <div class="cart"> <a href="/cart"> <img th:if="${coinsInCart == 0}" src="images/shopping_cart.png" width="53" height="53" border="0">
                                          <img th:if="${coinsInCart > 0}" src="images/shopping_cart1.png" width="53" height="53" border="0"> </a> </div>
    </div>
  </div>
  <div class="line1"></div>

    <div id="content_container">
        <div class="user_menu"> <h2>Состав заказа №[[ ${task.id} ]]</h2> </div>

        <div class="itemAdded">
          <div class="table">
            <!-- <div class="column">
                <div class="task_text"> Заказ номер </div>
                <div class="task_text"> Тип груза </div>
                <div class="task_text"> Пункт отправления </div>
                <div class="task_text"> Пункт назначения </div>
                <div class="task_text"> Вес </div>
                <div class="task_text"> Стоимость</div>
                <div class="task_text"> Статус </div>
            </div> -->
             <div class="column">
                 <div class="task_text"> Заказ номер 96 </div>
                 <div class="task_logo">
                     <img src="images/vozovoz.jpg" width="87" height="23">
                 </div>
                 <div class="task_text"> Посылка </div>
                 <div class="task_text"> Москва </div>
                 <div class="task_text"> Саратов </div>
                 <div class="task_text"> 800 кг</div>
                 <div class="task_text"> <span id="price_span">103880.0</span> руб.</div>
                 <div class="task_text"> Статус: в работе </div>
             </div>
          </div>
         </div>

      </div>

  </div>
</div>
</body>
</html>
