<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Main page</title>
    <link href="styles/style.css" th:href="@{styles/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- <h1></h1> -->
<!-- Основной контейнер, включающий остальные DIV-->
  <div id="container">

      <div class="header">
        <div class="block_logo"> <a href="/"> <img src="images/logo.jpg" width="477" height="153" border="0"> </a> </div>
        <div class="block_holder1">
          <div class="profile"> <img src="images/profile1.png" width="33" height="33" border="0"> <div class="auth_user"> [[${userInit}]] </div> </div>
          <div class="cart"> <a href="/cart"> <img th:if="${coinsInCart == 0}" src="images/shopping_cart.png" width="53" height="53" border="0">
                                              <img th:if="${coinsInCart > 0}" src="images/shopping_cart1.png" width="53" height="53" border="0"> </a> </div>
        </div>
      </div>
      <div class="line1"></div>
      <div id="content_lk">
        <br>
        <br>
        <span style="margin-left: 77px; font-size: 17px; font-weight: bolder; 	color: #0057ad;">Личный кабинет</span> <br>
        <div class="logistic_calc">
              <div class="user_menu">
                  <h2>[[ ${name} ]],  доброго времени суток!</h2>
                  <br>
                  <a href="/user_profile"> Профиль пользователя </a>
                  <br>
                  <br>
                  <a href="/orders"> История заказов </a>
                  <br>
                  <br>
                  <a href="/logout"> Выход </a>
              </div>
        </div>
      </div>

      <div id="footer">
        <div class="rights_text_holder">
          <p class="shrimping_height"> 2025 &#169; Все права защищены.</p>
          <p class="shrimping_height">
            <span id="trade_mark"><a href="site_mainpage.htm">
            OOO &#171;Logistics Pro&#187;</a></span>.</p>
          <p class="shrimping_height">Полное или частичное использование материалов данного сайта возможно только с письменного разрешения администрации сайта.</p>
        </div>
      </div>

  </div>

</body>
</html>
